/**
 * Styles for SAW Chart
 * @rdarling
 *
 */

.dissapear {display:none;}


.phase-wrap {

    .phase-title-wrap {
        margin-bottom: 2rem;

        h2 {
            color: $white; 
        } 
    }

    .phase-trigger {
        color: $white; 
        font-size:2rem;
        cursor: pointer;
    }

    &.phase-1 {
        .phase-title-wrap {
            background: $phase-1; 
        } 
    }
    &.phase-2 {
        .phase-title-wrap {
            background: $phase-2; 
        } 
    }
    &.phase-3 {
        .phase-title-wrap {
            background: $phase-3; 
        } 
    }
    &.phase-4 {
        .phase-title-wrap {
            background: $phase-4; 
        } 
    }
    &.phase-5 {
        .phase-title-wrap {
            background: $phase-5; 
        } 
    }
    &.phase-6 {
        .phase-title-wrap {
            background: $phase-6; 
        } 
    }
    &.phase-7 {
        .phase-title-wrap {
            background: $phase-7; 
        } 
    }
    &.phase-8 {
        .phase-title-wrap {
            background: $phase-8; 
        } 
    }
    &.phase-9 {
        .phase-title-wrap {
            background: $phase-9; 
        } 
    }
}

.component-wrap {
    padding: 2rem;
    margin-bottom:2rem;
    max-width: 1160px;
    margin-left:auto;
    margin-right: auto;

    &.required {
        background: $required; 
    }
    &.recom {
        background: $recom; 
    }
    &.important {
        background: $important; 
    }
    &.optional {
        background: $optional; 
    }
}

.component {

    .title {
        position:relative; 
        font-size: 2rem;
    }

    &.large {
        .title {
            &:after {
                content: "\f013 \f013 \f013";
                font-family: FontAwesome;
                position: absolute;
                z-index: 1;
                right:2rem;
                top: 0;
            }
        } 
    }
    &.med {
        .title {
            &:after {
                content: "\f013 \f013";
                font-family: FontAwesome;
                position: absolute;
                z-index: 1;
                right:2rem;
                top: 0;
            }
        } 
    }
    &.small {
        .title {
            &:after {
                content: "\f013";
                font-family: FontAwesome;
                position: absolute;
                z-index: 1;
                right:2rem;
                top: 0;
            }
        } 
    }
}
